/* Criado por Camila Silva */
/* Desde 23/09/2022 */
/* Estilo do segundo componente */

button{
    margin: 10px;
    width: 24vh;
    height: 24px;
    background-color: aquamarine;
    transition: .5s;
    cursor: pointer;
}

button:hover{
    background-color: yellow;
}

h1, p{
    margin: 5px;
    color: rgb(149, 121, 232);
}