/* Criado por Camila Silva */
/* Desde 21/09/2022 */
/* Arquivo responsável pelos estilos globais ou estilo padrão que irá se repetir na aplicação toda */

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

a {
    color: brown;
}

h2{
    color: rgb(230, 31, 64);
}

.class{
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
}

body{
    padding-bottom: 500px;
}