<!-- Criado por Camila Silva -->
<!-- Desde 23/09/2022 -->
<!-- Usando condicional com Angular -->

<div class="class">

    <p *ngIf="canShow">Estamos mostrando isso porque foi permitido</p>

    <p *ngIf="name === 'Camila'; else nameNotFound">Meu nome é Camila Silva</p>

    <ng-template #nameNotFound>
        <div>
            <p>O nome não foi encontrado</p>
        </div>
    </ng-template>

    <p *ngIf="idade === 23; else ageWrong">Tenho 23 anos</p>

    <ng-template #ageWrong>
        <div >
            <p>Idade errada</p>
        </div>
    </ng-template>

</div>
